
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0
}


.container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-columns:  1fr auto;
  grid-template-areas: "photo sidebar" "slider sidebar";
  height: 100vh;
  width: 100vh;
  background-color: rgb(236, 236, 236);
}

.main-photo{
  grid-area: photo;
  background-image: url("image.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(236, 236, 236);
  border-left: rgb(255, 255, 255) 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretech;
  justify-content: center;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background: rgb(119, 136, 182);
  border-radius: 100px;
  padding: 1rem;
  margin: 1.5rem;
  position: relative;
  transition: background-color 150ms;
}

.sidebar-item:hover, .sidebar-item:focus {
  background-color: rgb(67, 77, 107);
}

.sidebar-item:active {
  background-color: lightskyblue
}

/* .sidebar-item::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: maroon;
} */

.sidebar-item:last-child::after {
  display: none;
}

.slider-container {
  grid-area: slider;
  background-color: rgb(236, 236, 236);
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}